services:
  traefik:
    image: traefik:v3.6.7
    container_name: ${TRAEFIK_CONTAINER_NAME}
    restart: unless-stopped

    command:
      - "--log.level=INFO"
      - "--accesslog=false"

      - "--api=false"
      - "--ping=true"

      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.network=${TRAEFIK_NETWORK}"

      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - traefik

networks:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK}
