version: "3.9"

services:
  traefik:
    image: traefik:v2.11.10
    container_name: traefik
    restart: unless-stopped

    command:
      - "--log.level=INFO"
      - "--accesslog=false"

      - "--api=true"
      - "--api.dashboard=true"
      - "--ping=true"

      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/var/lib/traefik:/data"

    networks:
      - traefik

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.local`)"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.service=api@internal"

networks:
  traefik:
    external: true

