services:
  pihole:
    image: pihole/pihole:2025.11.1
    container_name: ${PIHOLE_CONTAINER_NAME}
    restart: unless-stopped

    ports:
      - "53:53/tcp"
      - "53:53/udp"

    environment:
      - TZ
      - FTLCONF_webserver_api_password__FILE

    volumes:
      - pihole-etc-pihole:/etc/pihole
      - pihole-etc-dnsmasq:/etc/dnsmasq.d

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${PIHOLE_NETWORK}"
      - "traefik.http.routers.pihole.rule=Host(`${PIHOLE_HOSTNAME}`)"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.routers.pihole.tls=true"


    networks:
      - traefik

volumes:
  pihole-etc-pihole:
  pihole-etc-dnsmasq:

networks:
  traefik:
    external: true
    name: ${PIHOLE_NETWORK}

